$background-color: #4a454b;
$lightgreen: #90d23d;
$green: #a3cc40;
$darkgreen: #46c409;
$blue: #3d6ed2;
$orange: #ff9d00;
$red: #c0652a;
$black: #373737;

* {
  text-decoration: none;
}

body {
  margin: 0 0 96px 0;
  background: $background-color;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  padding: 0 100px;
  margin-top: 53px;

  .head-logo {
    grid-column-end: span 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu {
    grid-column: 6/span 7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    color: white;
    font-family: "Corbel Light";

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.timer {
  grid-column: 2/span 10;
  height: 194px;
  border-radius: 15px;
  border: 3px $lightgreen solid;
  margin-top: 121px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 28px 78px;
  text-align: center;
  font-family: "Roboto Slab";
  color: white;

  span {
    font-size: 130px;
    margin-bottom: 35px;
  }

  .time-number {
    font-size: 130px;
  }

  .time-name {
    font-size: 25px;
  }
}

.welcome {
  margin-top: 117px;
  background: white;
  position: relative;

}

.background-img {
  height: 229px;
  background: url("../img/HERO SHOT.png") no-repeat;
  background-size: 100%;
}

.form {
  width: 431px;
  height: 530px;
  position: absolute;
  top: 0;
  right: 165px;
  background: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 0px 10px black;
  padding: 20px;

  .form-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }

  input {
    box-sizing: border-box;
    width: 371px;
    height: 53px;
    margin: 10px 0;
    font-size: 19px;
    border-radius: 5px;
    border: 1px #bebebe solid;
    padding: 15px;
    color: #6c6c6c;
  }

  input::placeholder {
    color: #bebebe;
  }

  button {
    box-sizing: border-box;
    margin: 30px 0 20px 0;
    width: 371px;
    height: 57px;
    background: $lightgreen;
    border: 0;
    font-size: 22px;
    color: white;
    padding: 15px;
  }

  .form-text {
    font-size: 15px;
    color: #6c6c6c;
    font-family: "Roboto Slab";
  }
}

.welcome-hello {
  display: flex;
  flex-direction: column;
  grid-column-end: span 6;
  color: black;
  font-family: "Roboto Slab";

  .welcome-title {
    font-size: 50px;
    font-weight: bold;
  }

  .welcome-text {
    font-size: 15px;
    font-family: "Roboto Slab";
  }
}

.Community {
  grid-column: 1/span 4;
  margin-top: 141px;
  text-align: center;

  .Community-img {
    margin-bottom: 43px;
  }

  .Community-title {
    font-size: 35px;
    font-family: Roboto;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .Community-text {
    font-size: 15px;
    font-family: Roboto;
  }
}

.Talk-Shop {
  grid-column: 5/ span 4;
  margin-top: 141px;
  text-align: center;

  .Talk-Shop-img {
    margin-bottom: 43px;
  }

  .Talk-Shop-title {
    font-size: 35px;
    font-family: Roboto;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .Talk-Shop-text {
    font-size: 15px;
    font-family: Roboto;
  }
}

.War-Stories {
  grid-column: 9/ span 4;
  margin-top: 141px;
  text-align: center;

  .War-Stories-img {
    margin-bottom: 43px;
  }

  .War-Stories-title {
    font-size: 35px;
    font-family: Roboto;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .War-Stories-text {
    font-size: 15px;
    font-family: Roboto;
  }
}

.Event-Table {
  margin-top: 94px;
  grid-column: 1/ span 12;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  color: white;
  font-family: Roboto;
  text-align: center;

  .table {
    height: 375px;
    width: 1030px;
    border-radius: 15px;
    overflow: hidden
  }

  .event-header {
    background: $green;
    height: 75px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 30px;
    padding: 0 30px;

    .header-time {
      grid-column: 1/span 2;
      font-size: 30px;
      font-weight: bold;
    }

    .header-info {
      grid-column: 4/span 5;
      font-size: 30px;
      font-weight: bold;
      text-align: left;
    }
  }

  .body-info {
    background: $black;
    height: 75px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 30px;
    padding: 0 30px;
    font-size: 22px;

    &_gray {
      background: #4b4d4f;
    }

    .info-time {
      grid-column: 1/span 2;
    }

    .info-text {
      grid-column: 4/span 5;
      text-align: left;
    }

    .info-add {
      grid-column: 10/span 1;
    }
  }
}

.Event-Table-bot-text {
  grid-column: 3/ span 8;
  text-align: center;
  margin-bottom: 156px;
}

.Elite-Rewards-Section {
  position: relative;
  color: white;

  .Elite-Rewards {
    background: #4b4d4f;
    height: 700px;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    z-index: 100;
    margin-top: 0;

    .Elite-info {
      margin-top: 175px;
      grid-column: 5/span 7;
      display: flex;
      align-items: flex-end;
      text-align: right;
      flex-direction: column;
      font-family: Roboto;
    }
  }

  .Elite-title {
    font-size: 50px;
    font-weight: bold;
  }

  .Elite-text {
    grid-column: 5/span 7;
    font-size: 14px;
    margin: 38px 0;
  }

  .Elite-button {
    grid-column: 5/span 7;
    width: 200px;
    height: 55px;
    background: $lightgreen;
    border-radius: 15px;
    border: 0;
    font-size: 18px;
    color: white;
    font-weight: bold;
  }

  .Elite-Badge {
    position: absolute;
    top: -75px;
    left: 164px;
    z-index: 101;
    filter: drop-shadow(5px 5px 10px black);
  }
}

.speakers-title {
  margin-top: 93px;
  grid-column: 2/span 3;
  font-size: 50px;
  font-weight: bold;
  font-family: Roboto;
}

.speakers-text {
  grid-column: 2/span 6;
  font-size: 14px;
  font-family: Roboto;
  margin: 27px 0 0 0;
}

.green-block {
  grid-column: 2/span 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .block-row {
    display: flex;
    justify-content: space-between;
  }

  .block {
    margin-top: 62px;
    width: 296px;
    height: 296px;
    background: $lightgreen;
    border-radius: 15px;
    grid-column-end: span 4;
    font-family: Roboto;
    color: white;

    &_pattern {
      background: url("../img/2.png");

      .block-info {
        padding: 36px 36px 23px 36px;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;

        hr {
          margin: 0 0 15px 0;
          width: 83px;
          border: 3px white solid;
        }

        .block-title {
          font-size: 45px;
          font-weight: bold;
        }
      }
    }

    &_two-fingers {
      background: url("../img/SpeakersOne.png") no-repeat;
      background-size: 100%;
    }
  }
}

.block-icon {
  width: 150px;
  display: flex;

  img {
    width: 30px;
    height: 30px;
  }
}

.Sponsor-Us {
  margin-top: 179px;
  background: #4b4d4f;
  height: 750px;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  color: white;

  .sponsor-info {
    grid-column: 4/span 6;
    margin-top: 171px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Roboto;

    .sponsor-title {
      font-size: 50px;
      font-weight: bold;
    }

    .sponsor-txt {
      font-size: 14px;
    }

    .sponsor-img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 48px 0 65px 0;
    }

    .sponsor-button {
      width: 200px;
      height: 55px;
      border: 0;
      border-radius: 15px;
      background: $lightgreen;
      font-size: 22px;
      color: white;
      font-family: Roboto;
    }
  }
}

.Past-Events {
  margin-top: 117px;

  .events-title {
    grid-column: 2/span 4;
    font-size: 50px;
    font-family: Roboto;
    font-weight: bold;
    margin-bottom: 37px;
  }

  .events-text {
    grid-column: 2/span 7;
    font-size: 14px;
    font-family: Roboto;
  }

  .square {
    grid-column: 1/ span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 105px;

    .block {
      height: 416px;

      &_blue {
        background: $blue;
        grid-column: 1/span 6;
      }

      &_green {
        background: $lightgreen;
        grid-column-end: span 6;
      }

      &_orange {
        background: $orange;
        grid-column: 1/span 5;
        height: 366px;
      }

      &_red {
        background: $red;
        grid-column-end: span 7;
        height: 366px;
      }
    }
  }

  .events-button {
    grid-column: 1/span 12;
    display: flex;
    justify-content: center;
    margin: 98px 0 87px 0;

    button {
      height: 55px;
      width: 200px;
      font-size: 22px;
      font-family: Roboto;
      color: white;
      background: $black;
      border: 0;
      border-radius: 15px;
    }
  }
}

.text-center {
  align-self: center;
}